*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background-color: lightgray;
     font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

.dashboard{
    background-color: lightseagreen;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 3fr;
    
}

.wrapped{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-self: center;
    margin-left: 10px;
}

.header{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.4);
}

.headerTop{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerTopLeft{
    display: flex;
    gap: 40px;
}

.headerTopRight{
    display: flex;
    gap: 50px;
}

.headerTopRight p{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-left: -15px;
}

.headerBottom{
    display: flex;
    justify-content: space-between;
}

.headerBottomLeft, .headerBottomRight{
    display: flex;
    align-items: center;
}

.headerBottomLeft{
    gap: 15px;
}

.headerBottomLeft p{
    font-size: 30px;
}

.headerBottomRight{
    gap: 100px;
}

.headerBottomRight button{
    border-radius: 45px;
    border: none;
    background-color: lightseagreen;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
}


input{
    width: 800px;
    height: 30px;
    border-radius: 45px;
    border: none;
    background-color: lightgray;
    
}

.mainWrapper{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.projectWrapper{
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr repeat(3, 10fr);
    gap: 20px;
    margin: 90px 20px 80px 20px; 
    
}

.projectWrapper p{
    grid-column: 1/3;
    font-size: 20px;
}

.secondaryWrapper{
    display: grid;
    grid-template-rows:1fr 5fr 1fr 5fr;
    gap: 15px;
    margin: 90px 20px 80px 0px; 
}

.secondaryWrapper p{
    display: grid;
    place-items: end start;
    font-size: 20px;
    
}

.project{
    background-color: white;
    border-radius: 25px;
    border-left: 8px solid lightsalmon; 
    padding: 8px;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.projectIcons{
    grid-column: 2 /3;
    display: flex;
    width: 200px;
    justify-content: space-around;
}

.announcements, .trending{
    background-color: white;
    border-radius: 25px;
}

.announcements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.announcements p{
    font-size: 15px;
    margin: 20px;
}

.announcements strong{
    font-size: 18px;
    margin-bottom: 5px;
}

.announcements p:nth-child(n + 2) {
    border-top: 2px solid lightgrey; /* or any color you prefer */
    padding-top: 15px; /* optional: to space text from the line */
    margin-top: 10px;  /* optional: to give space above the border */
}

.trending{
    /* display: flex;
    flex-direction: column;
    align-items: center; */

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.trending p{
    display: inline;
    font-size: 20px;       
}

.trending img{
    justify-self: center;
}

a{
    text-decoration: none;
    color: white; 
    align-self: center;
}

.dashIcon{
    width: 40px;
    height: 40px;
    margin-right: 30px;
    object-fit: contain;
    margin-left: 30px;
}

.dashIcon.dashboard{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.wrapped.topitem{
   display: flex;
}

.wrapped.topitem a{
    font-size: 30px;
    margin-left: -10px;
}

